VENICE_API_KEY="VENICE-INFERENCE-KEY-nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn"
BRAVE_API_KEY="BSAFEnnnnnnnnnnnnnnnnn"

SMTP_USER="your.email@example.com"
SMTP_PASSWORD="aaaa bbbb cccc dddd"
SMTP_FROM="noreply@example.com"

# Host path to editions directory (mounted read-only into corre-news container)
# CORRE_EDITIONS_DIR=~/.local/share/corre/editions

TAILSCALE_ENABLED=true
TAILSCALE_AUTHKEY="tskey-auth-nnnnnnnnnnnnnnnnn-mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm"